/*

Main color:

#4CAF50

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.2px;
    line-height: 1.7;
    color: #fff;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.500),rgba(0, 0, 0, 0.500)) ,url(../img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    height: 300px;
}
